<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Adventure Together</title>
</head>

<body>
    <div class="logo"><a href="/"><img src="static/img/logo.svg" alt=""></a></div>
    <nav>
        <ul>

            <li>
                <a href="#" class="first" style="text-decoration:none;"><i class="fa fa-info-circle"
                        aria-hidden="true"></i>
                    About</a>

            </li>
            <li class="leftnav">
                <a href="signup " style="text-decoration:none;"> <i class="fas fa-user-plus "></i> SignUp</a>
                <a href="login" style="text-decoration:none;">Login <i class="fas fa-lock"></i></a>
            </li>
        </ul>
    </nav>
</body>
<<div class="signupim">
    <img src="static/img/big.png" alt="" style="width: 30%;">
    <h1 style="font-size: 50px;  font-family: 'Ubuntu', sans-serif; color: #808080; text-align: center;
    margin-top: 6%; margin-left: 60%;">LOGIN</h1>
  </div>
    <div class="form-group" style="margin-left:20%; margin-right: 20%;   ">
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="E-mail"
            style="background-color: #C4C4C4; padding: 20px ; font-size: 20px; text-align: center;">
        <style>
            ::-webkit-input-placeholder {
                text-align: center;
                font-family: 'Ubuntu', sans-serif;
                color: #575757;
                font-size: 25px;
            }

            :-moz-placeholder {
                text-align: center;
                font-family: 'Ubuntu', sans-serif;
                color: #575757;
                font-size: 25px;
            }
        </style>
    </div>
    <div class="form-group" style="margin-left:20%; margin-right: 20%; margin-top: 2%; ">
        <label for="exampleInputPassword1"></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
            style="background-color: #C4C4C4;padding: 20px ;font-size: 20px; text-align: center;">
    </div>
    <button type="submit" class="btn btn-primary"
        style="margin-left:45%; margin-right: 20%; 
    margin-top: 2%; margin-bottom: 5%; background-color: #FFD304; color: #575757; font-family: 'Quicksand', sans-serif; border-color:#FFD304 ; padding: 20px 35px; font-size: 20px;">LOGIN</button>
</form>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #C4C4C4; color: #575757;">Made with <i
            class="fas fa-heart" style="color: red;"></i> <br>© 2021 Copyright:
        <a href="https://anuragdev.netlify.app/" style="color:#575757 ;"> Anurag</a>
    </div>
    <!-- Copyright -->

</footer>

</html>